{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!--    <h1>{{ user.username }}</h1>-->
<!--user variable here is not represented by us, it's something Django returns as the details of logged in user-->
<!--The below code has been copied from 'https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/snippets/profile.html'-->
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
<!--            forgery token which Django needs to help securing the form-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
